.body {
  min-height: 100vh; /* 高さ指定 */
  text-align: center; /* 中央揃え */
  font-size: medium; /* 文字の大きさ */
  background: #b09bd1; /* 背景色 */
  display: flex;
  flex-flow: column; /* 縦並び */
  align-items: center; /* 上下中央寄せ */
  justify-content: center; /* 左右中央寄せ */
}

.title {
  width: 60%; /* 幅指定 */
  font-size: xx-large; /* 文字の大きさ */
  border-radius: 30px; /* 丸み */
  color: #b09bd1; /* 文字の色 */
  background: #fff; /* 背景色 */
  padding: 10px 10px; /* 上下左右の余白(内側) */
  margin: 40px; /* 上下左右の余白(外側) */
}

.main {
  width: 90%; /* 幅指定 */
  display: flex;
  justify-content: space-between; /* 横並び */
}

.menu {
  flex: 1; /* 比率 */
  display: flex;
  flex-flow: column; /* 縦並び */
  align-items: center; /* 上下中央寄せ */
  justify-content: center; /* 左右中央寄せ */
}

.advertisementButton, .illegalButton, .logoutButton {
  width: 100%; /* 幅指定 */
  font-size: large; /* 文字の大きさ */
  border: none; /* 枠線 */
  border-radius: 20px; /* 丸み */
  color: #000; /* 文字の色 */
  background: #FFD5EC; /* 背景色 */
  padding: 50px 30px; /* 上下左右の余白(内側) */
  margin: 20px auto; /* 上下左右の余白(外側) */
  cursor: pointer; /* カーソル変更 */
}

.advertisementButton:hover, .illegalButton:hover, .logoutButton:hover {
  background: #ff99cc; /* 背景色 */
}

.right {
  flex: 4; /* 比率 */
  padding: 20px; /* 上下左右の余白(内側) */
  display: flex;
  flex-flow: column; /* 縦並び */
  align-items: center; /* 上下中央寄せ */
}

.white {
  width: 90%;
  border-radius: 10px; /* 丸み */
  background: #fff; /* 背景色 */
  padding: 10px; /* 上下左右の余白(内側) */
  margin: 10px; /* 上下左右の余白(外側) */
  display: flex;
  flex-flow: column; /* 縦並び */
  align-items: center; /* 上下中央寄せ */
}

.name {
  margin-left: 20px; /* 左の余白(外側) */
  margin-right: auto; /* 右の余白(外側) */
}

.company{
  max-height: 400px; /* 最大高さを設定 */
  overflow-y: auto; /* 縦方向にスクロール可能に */
}

.companyButton{
  width: 90%; /* 幅指定 */
  font-size: large; /* 文字の大きさ */
  border: none; /* 枠線 */
  border-radius: 30px; /* 丸み */
  color: #000; /* 文字の色 */
  background: #FFD5EC; /* 背景色 */
  padding: 10px; /* 上下左右の余白(内側) */
  margin: 10px; /* 上下左右の余白(外側) */
  cursor: pointer; /* カーソル変更 */
}

.companyButton:hover {
  background: #ff99cc; /* 背景色 */
}

.registerButton {
  width: 20%;
  font-size: large; /* 文字の大きさ */
  border: none; /* 枠線 */
  border-radius: 30px; /* 丸み */
  color: #000; /* 文字の色 */
  background: #ff8d78; /* 背景色 */
  padding: 20px 30px; /* 上下左右の余白(内側) */
  margin-left: auto; /* 左の余白(外側) */
  margin-right: 20px; /* 右の余白(外側) */
  cursor: pointer; /* カーソル変更 */
}

.registerButton:hover {
  background: #ff7d66; /* 背景色 */
}

/* モーダル */
.modal {
  height: 100%; /* 高さ指定 */
  width: 100%; /* 幅指定 */
  top: 50%; left: 50%; /* 上から50%左から50% */
  position: fixed; /* 要素の位置固定 */
  transform: translate(-50%, -50%); /* 中央に配置 */
  background: rgba(0, 0, 0, 0.5); /* 背景色 */
  display: flex;
  flex-direction: column; /* 縦並び */
  align-items: center; /* 上下中央寄せ */
  justify-content: center; /* 左右中央寄せ */
}

.content {
  width: 60%; /* 幅指定 */
  border-radius: 20px; /* 丸み */
  background: #fff; /* 背景色 */
  padding: 60px; /* 上下左右の余白(内側) */
}

.logout {
  font-size: xx-large; /* 文字の大きさ */
  margin: 20px; /* 上下左右の余白(外側) */
}

.buttons {
  display: flex;
  justify-content: space-between; /* 横並び */
}

.okButton {
  height: 100px; /* 高さ指定 */
  width: 50%; /* 幅指定 */
  font-size: large; /* 文字の大きさ */
  border: none; /* 枠線 */
  border-radius: 30px; /* 丸み */
  color: #000; /* 文字の色 */
  background: #ff9999; /* 背景色 */
  margin:  30px; /* 上下左右の余白(外側) */
  cursor: pointer; /* カーソル変更 */
}

.okButton:hover {
  background: #ff6666; /* 背景色 */
}

.noButton {
  height: 100px; /* 高さ指定 */
  width: 50%; /* 幅指定 */
  font-size: large; /* 文字の大きさ */
  border: none; /* 枠線 */
  border-radius: 30px; /* 丸み */
  color: #000; /* 文字の色 */
  background: #99ccff; /* 背景色 */
  margin:  30px; /* 上下左右の余白(外側) */
  cursor: pointer; /* カーソル変更 */
}

.noButton:hover {
  background: #66b2ff; /* 背景色 */
}