.body {
    text-align: center; /* 中央揃え */
    font-size: medium; /* 文字の大きさ */
    background: #b09bd1; /* 背景色 */
    display: flex;
    flex-flow: column; /* 縦並び */
    align-items: center; /* 上下中央寄せ */
    justify-content: center; /* 左右中央寄せ */
}

.title {
    width: 60%;
    font-size: xx-large; /* 文字の大きさ */
    border-radius: 30px; /* 丸み */
    background: #fff; /* 背景色 */
    color: #b09bd1; /* 文字の色 */
    margin: 40px; /* 上下左右の余白(外側) */
    padding: 10px 10px; /* 上下左右の余白(内側) */
}

.white{
    width: 50%;
    border-radius: 10px; /* 丸み */
    background: #fff; /* 背景色 */ 
    display: flex;
    flex-flow: column; /* 縦並び */
    align-items: center; /* 上下中央寄せ */
    justify-content: center; /* 左右中央寄せ */
}

.advertisementButton, .illegalButton, .logoutButton{
    height: 100px;
    width: 80%;
    font-size: xx-large; /* 文字の大きさ */
    border-radius: 30px; /* 丸み */
    background: #FFD5EC; /* 背景色 */
    color: #000; /* 文字の色 */
    margin:  30px; /* 上下左右の余白(外側) */
    border: none; /* 枠線削除 */
    cursor: pointer; /* カーソル変更 */
}

.advertisementButton:hover, .illegalButton:hover, .logoutButton:hover {
    background: #ff99cc; /* 背景色 */
}

/* モーダル */
.modal {
    background: rgba(0, 0, 0, 0.5); /* 背景 */
    display: none; /* 非表示 */
    position: fixed; 
    top: 0; left: 0;
    width: 100%; height: 100%;
    flex-flow: column; /* 縦並び */
    align-items: center; /* 上下中央寄せ */
    justify-content: center; /* 左右中央寄せ */
}

.content {
    width: 60%;
    border-radius: 20px; /* 丸み */
    padding: 60px; /* 上下左右の余白(内側) */
    background: #fff; /* 背景 */
}

.logout {
    font-size: xx-large; /* 文字の大きさ */
    margin: 20px; /* 上下左右の余白(外側) */
}

.buttons {
    display: flex;
    justify-content: space-between; /* 横並び */
}

.okButton {
    height: 100px;
    width: 50%;
    font-size: xx-large; /* 文字の大きさ */
    border-radius: 30px; /* 丸み */
    background: #ff9999; /* 背景色 */
    color: #000; /* 文字の色 */
    margin:  30px; /* 上下左右の余白(外側) */
    border: none; /* 枠線削除 */
    cursor: pointer; /* カーソル変更 */
}

.okButton:hover {
    background: #ff6666; /* 背景色 */
}

.noButton {
    height: 100px;
    width: 50%;
    font-size: xx-large; /* 文字の大きさ */
    border-radius: 30px; /* 丸み */
    background: #99ccff; /* 背景色 */
    color: #000; /* 文字の色 */
    margin:  30px; /* 上下左右の余白(外側) */
    border: none; /* 枠線削除 */
    cursor: pointer; /* カーソル変更 */
}

.noButton:hover {
    background: #66b2ff; /* 背景色 */
}